@import url('https://fonts.googleapis.com/css?family=Muli:600|Nunito')

$muli:'Muli', sans-serif
$nunito: 'Nunito', sans-serif

*
  font-weight: 400
  box-sizing: border-box
  font-family: $muli

p
  font-family: $nunito


body
  background-color: #eee
  transition: all 1.3s ease-in-out
  font-family: sans-serif
  position: relative
  margin: 0
  padding: 0
  height: 100vh
  overflow: hidden

p.developer
  text-align: center
  background-color: #e4e4e4
  width: 100%
  padding: 1em
  font-size: 0.9rem
  // bottom: 0
  // left: 0
  margin: 0
  // border-top: 4px solid #fff
  box-shadow: 0 -3px 10px rgba(0,0,0,0.3)
  a
    text-decoration: none
    color: #0f2497



// React App Styling
.root
  max-width: 1280px
  margin: 30px auto
  height: 100vh

.container
  display: flex

.main
  width: 70%
  padding: 0 30px

.aside
  width: 30%
  max-height: 95vh

  background: #eee
  padding: 0px 0px 30px


// Search Bar
input
  display: block
  height: 40px
  // margin: 0px auto 40px
  outline: 0
  border: none
  width: 100%
  padding: 30px 10px
  font-size: 22px
  text-align: left
  color: #585858
  border-bottom: 2px solid #fff
  transition: all 0.3s ease-in-out

  &:focus
    border-bottom: 2px solid #7b7b7b
p
  padding: 0 0px
  line-height: 2rem

.searchTerm
  color: darken(#23a028, 5%)

.videoListing
  overflow: scroll
  padding: 20px 0
  list-style-type: none
  height: 90%

  img
    width: 100%
    display: block
    margin: 0 auto
    filter: opacity(1)
    transition: all 0.3s ease-in-out
  li
    background: #fff
    padding: 0
    user-select: none
    cursor: pointer

  li:not(:last-child)
    margin-bottom: 60px
    // border-bottom: 2px solid #9E9E9E
  p
    font-size: 0.8rem
    line-height: 1.6
    margin-bottom: 0
  a
    text-decoration: none
    color: darken(orange, 30%)
    &:hover
      img
        filter: opacity(0.8)

.thumbnail
  height: 243px
  overflow: hidden
  position: relative

  h3
    position: absolute
    bottom: 0px
    color: #fff
    padding: 0 15px
    font-size: 1rem
    line-height: 2rem

.video
  iframe
    width: 100%
    height: 580px
    border: 0
    outline: 0



// Responsive rules
@media (max-width: 560px)
  html
    font-size: 14px
  .root
    width: 360px


@media (max-width: 320px)
  html
    font-size: 10px
  .root
    width: 300px
